<!-- erick.css -->
<!-- basebord -->
<footer id="contato" class="basebord">
    <div class="container">
        <div class="info-basebord">
            <a href="#home"><img class="logo-basebord" src="../assets/pe-amigo.png" alt="Otimize-logo"></a>
            <div class="contactos-basebord">
                <div class="contactos-basebord-list">
                    <div class="contactos-basebord-container">
                        <p>Termos de uso</p>
                    </div>

                    <div class="contactos-basebord-container">
                        <p>Política de Privacidade</p>
                    </div>

                    <div class="contactos-basebord-container">
                        <p>contato@peamigo.com.br</p>
                    </div>

                    <div class="contactos-basebord-container">
                        <p>0800 000 0000</p>
                    </div>

                    <div class="contactos-basebord-container">
                        <p>Brasília</p>
                    </div>
                </div>
            </div>

            <div class="social-medias-basebord">
                <h3 class="social-medias-title">Fique conectado conosco</h3>
                <div>
                    <a target="_blank" rel="noopener noreferrer">
                        <img class="social-medias-logo" src="../assets/Grupo 10647.png" alt="Logo Facebook">
                    </a>
                    <a target="_blank" rel="noopener noreferrer">
                        <img class="social-medias-logo" src="../assets/Grupo 10648.png" alt="Logo Instagram">
                    </a>
                    <a target="_blank" rel="noopener noreferrer"><img class="social-medias-logo"
                            src="../assets/Grupo 10649.png" alt="Logo Linkedin"></a>
                    <a target="_blank" rel="noopener noreferrer"><img class="social-medias-logo"
                            src="../assets/Grupo 10649.png" alt="Logo Whatsapp"></a>
                </div>
            </div>
        </div>

        <p class="copy"> <sup class="copy-symbol">&#169;</sup> 2022 Todos os direitos reservados</p>
    </div>
</footer>
<!-- basebord end -->